<header class="w-full bg-cyan-500 text-white">
  <div class="container flex items-center justify-between p-2">
    <h2 class="text-3xl">
      <a routerLink="/"> Workout Tracker </a>
    </h2>
    <div class="flex justify-between space-x-4">
      <a
        routerLink="/workouts"
        class="rounded-3xl p-2 text-xl font-bold hover:bg-cyan-700"
        >Workouts</a
      >
      <a
        routerLink="/charts"
        class="rounded-3xl p-2 text-xl font-bold hover:bg-cyan-700"
        >Charts</a
      >
      <a
        routerLink="/add"
        class="rounded-3xl p-2 text-xl font-bold hover:bg-cyan-700"
        >Add New Workout</a
      >
    </div>
    <!-- <div class="card flex justify-center space-x-2">
      <p>Light</p>
      <p-toggleswitch darkMode="true" />
      <p>Dark</p>
    </div> -->
  </div>
</header>
