<form
  [formGroup]="filtersForm"
  class="m-5 flex items-center justify-center gap-5"
>
  <!-- Filter by Search -->
  <p-inputgroup class="w-xs">
    <p-inputgroup-addon>
      <span class="material-symbols-outlined">person_search</span>
    </p-inputgroup-addon>
    <input
      pInputText
      formControlName="search"
      id="search"
      placeholder="Filter by Name"
    />
  </p-inputgroup>
  <!-- Filter by Workout Type -->
  <p-inputgroup class="w-xs">
    <p-inputgroup-addon>
      <span class="material-symbols-outlined"> exercise </span>
    </p-inputgroup-addon>
    <div class="flex w-full items-center">
      <p-select
        [options]="workoutTypes"
        formControlName="workoutType"
        [showClear]="true"
        placeholder="Filter by Workout Type"
      >
        <ng-template #selectedItem let-workoutTypeControl>
          <p>{{ workoutTypeControl }}</p>
        </ng-template>
        <ng-template let-workout #item>
          <p>{{ workout }}</p>
        </ng-template>
      </p-select>
    </div>
  </p-inputgroup>
</form>

<!-- <app-search-form [filtersForm]="filtersForm" /> -->
<!-- <app-workout-type [filtersForm]="filtersForm" /> -->
